.sbarTrack {
  position: absolute;
  width: 11px;
  height: 11px;
  pointer-events: none;
}

@media (hover: none) and (pointer: coarse) {
  .sbarTrack {
    pointer-events: none;
  }
}

.sbarTrackX {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 11px;
}

.sbarTrackY {
  top: 0;
  right: 0;
  width: 11px;
  height: 100%;
}

.sbarTrack::before {
  content: '';
  position: absolute;
}

.sbarTrackY::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
}

.sbarTrackX::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  width: 100%;
}
